html {
    display: flex;
    justify-content: center;
}
body {
    position: relative;
}

#main_box {
    background-color: black;
    height: 562.5px;
    width: 937.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.opt {
    background-color: grey;
    height: 243.5px;
    width: 243.5px;
    border: 15px solid grey;
    border-radius: 243.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opt:hover {
    cursor: grab;
    border-color: red;
    background-color: rgb(157, 146, 146);
}
.opt_name {
    color: azure;
    font-size: 37.5px;
}

.opt_sym {
    font-size: 75px;
}
.opt:hover .opt_name{
    font-size: 45px;
}

.opt:hover .opt_sym {
    cursor: grab;
    font-size: 90px;
}

#result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 135.5px;
    font-weight: bold;
}
#scores {
    text-align: center;
    font-size: 66.5px;
    font-weight: bold;
}
#choice-print {
    margin-top: 75px;
    text-align: center;
    font-size: 37.5px;
    font-weight: bold;
}

#reset {
    position: absolute;
    left: 40%;
    height: 45px;
    width: 180px;
    font-size: 22.5px;
    font-weight: 500;
    margin-top: 15px;
    background-color: grey;
    color: white;
    border-radius: 7.5px;
}

#reset:hover {
    font-weight: 600;
    font-size: 24.5px;
    cursor: grab;
    background-color: grey;
    color: black;
}